.idea/
venv
*.pyc
.coverage
.coveragerc
Google_Vision_OCR_Credentials.json
htmlcov/
/credentials.py
/dataset/external/
/dataset/processed/QR_Code/
/tests/features/777.png
/static/QR_Code/
/dataset/raw/vaccine_record_photos/
