<!DOCTYPE html> <!--This indicates that this is an HTML file-->
<html lang="en">

<!--The head element consists of links, title and meta tags, which are used to define what the HTML page contains-->
<head>
    <link rel="stylesheet" href="/static/main.css"> <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <link rel="stylesheet" href="/static/home_page.css">
    <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVP | Create Account</title> <!--This is the title that you see displayed in the tab section-->
</head>
<body>

    <!--The following is a good example of utilizing multiple div elements to contain different parts of the HTML file,
    which allows us to finely structure the parts of the page.-->

    <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-logo">
                    <h1 id="logo"><a href="/">CoVaPass</a></h1>
                </li>
                <div class="nav__list-item-container">
                    <li class="nav__list-item"><a href="register">Register</a></li>
                </div>

            </ul>
    </nav>

    <!--This is the container for the left panel of the window-->
    <div class="left-panel">
        <h1>Create your account</h1>
        <img class="new-account-icon" src="{{url_for('static', filename='images/create-new-account.png')}}" alt="An icon of a person with a plus symbol beside it.">
    </div>

    <!--While this is the container for the right panel of the window-->
    <div class="right-panel create-page">
        <form action={{url_for("register")}} method="POST">
            <div class="container">

                <!--This div contains one column of fields you see on the page-->
                <div class="fields-column top-margin-small">

                    <!-- input-field is a single input field in the column which contains a label and a text field-->
                    <div class="input-field">

                        <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                        <div class="field-label">
                            <label class="text-label" for="first_name">First Name:</label>
                        </div>
                        <!--Finally the text field for the user to enter data into.-->
                        <input class="text-field-short" type="text" id="first_name" name="first_name" value="{{ session['extracted_record']['first'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="mid_initial">Middle Initial:</label>
                        </div>
                        <input class="text-field-short" type="text" id="mid_initial" name="mid_initial" value="{{ session['extracted_record']['mi'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="last_name">Last Name:</label>
                        </div>
                        <input class="text-field-short" type="text" id="last_name" name="last_name" value="{{ session['extracted_record']['last'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="date_second">Date of Birth:</label>
                        </div>
                        <input class="text-field-short" type="text" id="dob" name="dob" value="{{ session['extracted_record']['dob'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="patient_num">Patient Number:</label>
                        </div>
                        <input class="text-field-short" type="text" id="patient_num" name="patient_num" value="{{ session['extracted_record']['ssn'] }}">
                    </div>
                </div>

                <div class="fields-column top-margin-small">
                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="first_dose">First Dose:</label>
                        </div>
                        <input class="text-field-short" type="text" id="first_dose" name="first_dose" value="{{ session['extracted_record']['product_1'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="date_first">Issue Date (1st):</label>
                        </div>
                        <input class="text-field-short" type="text" id="date_first" name="date_first" value="{{ session['extracted_record']['date_1'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="second_dose">Second Dose:</label>
                        </div>
                        <input class="text-field-short" type="text" id="second_dose" name="second_dose" value="{{ session['extracted_record']['product_2'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="date_second">Issue Date (2nd):</label>
                        </div>
                        <input class="text-field-short" type="text" id="date_second" name="date_second" value="{{ session['extracted_record']['date_2'] }}">
                    </div>

                    <div class="input-field">
                        <div class="field-label">
                            <label class="text-label" for="clinic_site">Clinic Site:</label>
                        </div>
                        <input class="text-field-short" type="text" id="clinic_site" name="clinic_site" value="{{ session['extracted_record']['site_1'] }}">
                    </div>

                </div>
            </div>
            <div>
                <button class="confirm-button" name="confirm_button" value="confirm_button" type="confirm">CONFIRM</button>
            </div>
            <p class="warning-message">WARNING : CONFIRMING THE ABOVE INFORMATION IS NON-REVERSIBLE. PLEASE ENSURE
                THE INFORMATION ARE ACCURATE AND CHANGE ANY ERRORS BEFORE CONFIRMING.</p>
        </form>
    </div>
<footer class="footer">
            <div class="inner_footer">
                <div class="footer-content">
                    <h2>Covid Vaccine Passport</h2>
                    <p>Web app that will bring convenience to everyone</p>
                </div>
                <div class="footer-content">
                    <h2>Company</h2>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Project Protection</a></li>
                    <li><a href="#">FAQs</a></li>
                </div>
                <div class="footer-content">
                    <h2>About</h2>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </div>
                <div class="footer-content">
                    <h2>Help</h2>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Network Status</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Other Services</a></li>
                </div>
                <div class="footer-content">
                    <h2>Newsletter</h2>
                    <form action="">
                        <input type="text" placeholder="E-mail">
                        <button class="btn">Subscribe</button>
                        <div class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <p class="copyright">All Rights Reserved &copy;
                <script>document.write(new Date().getFullYear())</script>
                Covid Vaccine Passport
            </p>
        </footer>

</body>
</html>