<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css?rnd=132">
    <link rel="stylesheet" href="/static/home_page.css">
    <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://www.myfonts.com/fonts/font-fabric/code-next/?refby=fontfabric">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVP | Profile</title>
</head>
<body>
<form action={{url_for('profile', token=token)}} method="POST">
    <div class="sign-out-modal">
        <div class="modal-content">
            <div class="modal-header"></div>
            <p class="modal-text">You're about to sign out!</p>
            <a id="sign-back" class="modal-anchor">Back</a>
            <button class="modal-button" name="sign_out_button" value="sign_out_button">Sign Out</button>
        </div>
    </div>

    <div class="narrow-left fixed">
        <div class="logo-wrapper">
            <h1 id="logo"><a href="#">CoVaPass</a></h1>
        </div>
        <a class="menu" href="#" title="Minimize Menu">
            <img id="minimize" class="menu-img" src="{{ url_for('static', filename='images/menu.png') }}" field-icon alt="A share icon" title="Minimize Menu">
        </a>
        <nav class="nav-prof">
            <ul class="ul-prof">
                <li class="li-prof">
                    <a href="#" class="ul-li-a-icon" href="#">
                        <img class="profile-pic" src="{{ url_for('static', filename=pic) }}" alt="Your profile picture">
                    </a>
                    <a class="ul-li-a" href="#">Hi, {{ profile['user_name'] }} </a>
                </li>
                <li class="li-prof">
                    <a class="ul-li-a-icon" href="#qr-code">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/share-icon.png')}}" field-icon alt="A gear icon">
                    </a>
                    <a class="ul-li-a" href="#qr-code">Share</a>

                </li>
                <li class="li-prof">
                    <button class="ul-li-a-icon" value="settings_button" name="settings_button">
                        <img class="nav-icon-settings" src="{{ url_for('static', filename='images/settings-icon.png')}}" field-icon alt="A share icon">
                    </button>
                    <button class= "ul-li-button" value="settings_button" name="settings_button" href="#">Settings</button>
                </li>
                <li class="li-prof">
                    <a class="ul-li-a-icon" id="sign-out-button1" href="#">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/sign-out-icon.png') }}" field-icon alt="A share icon">
                    </a>
                    <a class="ul-li-a" id="sign-out-button" href="#">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="wide-right profile-page">
        <div>
            <img class="hero-banner" src="{{ url_for('static', filename='images/banner.png')}}" alt="">
        </div>

        <div class="profile-info top-margin-small">
            <p class="full-name">{{profile['record_first_name']}}
                {% if not (profile['middle_initial'] == 'None') and not (profile['middle_initial'] == 'none') %}
                {{profile['middle_initial']}}
                {% endif %}
                {{profile['record_last_name']}}</p>
            {% if not (tampered) %}
            <div class="vaccine-status">
                <div class="status-circle"></div>
                    <p class="vaccine-status-text">Status: Vaccinated</p>
            </div>

            {% else %}
                <div class="vaccine-status">
                <div class="status-circle red"></div>
                    <p class="vaccine-status-text">TAMPERED ACCOUNT!</p>
            </div>
            {% endif %}
        </div>

        <div class="profile-info">
            <div class="dose"> <!--The labels should be anchor tags or something that can link to toggling the display of the 'dose info'-->
                <a id="info-toggle" class="dose-label" title="Click to expand">First Dose: </a>
                <p class="dose-info">Click dose to expand</p>
                <div class="info">
                    <p class="hidden-info right-margin-small">Date: {{profile['vaccine_date1'] }}</p>
                    <p class="hidden-info">Vaccine: {{profile['vaccine_name'] }} </p>
                </div>
            </div>
            <div class="dose">
                <a id="info-toggle2" class="dose-label" title="Click to expand">Second Dose: </a>
                <p class="dose-info">Click dose to expand</p>
                <div class="info">
                    <p class="hidden-info right-margin-small">Date: {{profile['vaccine_date2'] }}</p>
                    <p class="hidden-info">Vaccine: {{profile['vaccine_name2'] }} </p>
                </div>
            </div>
            <div class="dose">
                <p class="hidden-info">Clinic: {{profile['hospital'] }} </p>
            </div>
        </div>

        <div id="qr-code" class="container top-margin-med bot-margin-med">
            <h2 class="section-label2">Share your profile to others</h2>
            <div class="block-item">
                <h3 class="section-label3">{{ profile['user_name'] }}</h3>
                <img class="qr-img" src="{{ url_for('static', filename='QR_Code/'+session['qr']) }}" alt="QR code for the User's Profile">
                <a id="link-toggle" class="link-toggle" title="Show Link">Show Link</a>
                <input class="url" id="link-untoggle" onclick="copyToClip()" value="{{ session["sharing_url"] }}" title="Copy to Clipboard">
            </div>
        </div>

    </div>
</form>
<footer class="footer">
        <div class="inner_footer">
            <div class="footer-content">
                <h2>Covid Vaccine Passport</h2>
                <p>Web app that will bring convenience to everyone</p>
            </div>
            <div class="footer-content">
                <h2>Company</h2>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Project Protection</a></li>
                <li><a href="#">FAQs</a></li>
            </div>
            <div class="footer-content">
                <h2>About</h2>
                <li><a href="#">Team</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </div>
            <div class="footer-content">
                <h2>Help</h2>
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Network Status</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Other Services</a></li>
            </div>
            <div class="footer-content">
                <h2>Newsletter</h2>
                <form action="">
                    <div class="socials">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <p class="copyright">All Rights Reserved &copy;
            <script>document.write(new Date().getFullYear())</script>
            CoVaPass
        </p>
    </footer>

    <script>
        (function() {
          let h, a, f;
          a = document.getElementsByTagName('link');
          for (h = 0; h < a.length; h++) {
            f = a[h];
            if (f.rel.toLowerCase().match(/stylesheet/) && f.href) {
              let g = f.href.replace(/(&|\?)rnd=\d+/, '');
              f.href = g + (g.match(/\?/) ? '&' : '?');
              f.href += 'rnd=' + (new Date().valueOf());
            }
          }
        })()

        let menuToggled = false;
        document.getElementById('minimize').addEventListener('click',
        function(){
            if(!menuToggled){
                menuToggled = !menuToggled;
                document.querySelector('.narrow-left').style.width = '10%';
                document.querySelector('.wide-right').style.width = '90%';
                document.querySelector('.wide-right').style.marginLeft = '10%';
                document.querySelector('.profile-pic').style.marginBottom = '3vh';
                document.querySelector('.profile-pic').style.marginLeft = '1vw';
                document.querySelector('.profile-pic').style.width = '6vw';
                document.querySelector('.profile-pic').style.height = '6vw';
                document.getElementById('logo').style.opacity = '0';

                let icons = document.querySelectorAll('.nav-icon');
                let iconsL = icons.length;
                for(let i = 0; i < iconsL; i++){
                    icons[i].style.width = '3.5vw';
                }
                document.querySelector('.nav-icon-settings').style.width = '3.5vw';
                document.querySelector('.nav-icon-settings').style.marginLeft = '1.5vw';

                let anchor = document.querySelectorAll('.nav-anchor');
                let anchorL = anchor.length;
                for(let i = 0; i < anchorL; i++){
                    anchor[i].style.marginLeft = '1%';
                    anchor[i].style.marginTop = '1vh';
                }

                let links = document.querySelectorAll('.ul-li-a');
                let length = links.length;
                for(let i = 0; i < length; i++){
                    links[i].style.display = 'none';
                }
                let linksbtn = document.querySelectorAll('.ul-li-button');
                let lengthbtn = links.length;
                for(let i = 0; i < lengthbtn; i++){
                    linksbtn[i].style.display = 'none';
                }
            }
            else{
                menuToggled = !menuToggled;
                document.querySelector('.narrow-left').style.width = '20%';
                document.querySelector('.wide-right').style.width = '80%';
                document.querySelector('.wide-right').style.marginLeft = '20%';
                document.querySelector('.profile-pic').style.marginBottom = '2vh';
                document.querySelector('.profile-pic').style.width = '4vw';
                document.querySelector('.profile-pic').style.height = '4vw';
                document.getElementById('logo').style.opacity = '1';

                let icons = document.querySelectorAll('.nav-icon');
                let iconsL = icons.length;
                for(let i = 0; i < iconsL; i++){
                    icons[i].style.width = '2vw';
                }
                document.querySelector('.nav-icon-settings').style.width = '2vw';
                document.querySelector('.nav-icon-settings').style.marginLeft = '-1.5vw';

                let imgs = document.querySelectorAll('.nav-img');
                let imgsL = imgs.length;
                for(let i = 0; i < imgsL; i++){
                    imgs[i].style.marginLeft = '5%';
                    imgs[i].style.marginTop = '0%';
                }

                let links = document.querySelectorAll('.ul-li-a');
                let length = links.length;
                for(let i = 0; i < length; i++){
                    links[i].style.display = 'inline-block';
                }
                let linksbtn = document.querySelectorAll('.ul-li-button');
                let lengthbtn = links.length;
                for(let i = 0; i < lengthbtn; i++){
                    linksbtn[i].style.display = 'inline-block';
                }
            }

        });

        document.getElementById('link-toggle').addEventListener('click',
            function(){
                document.querySelector('.url').style.display = 'block';
                document.querySelector('.link-toggle').style.display = 'none';
            });

        document.getElementById('link-untoggle').addEventListener('click',
            function(){
                document.querySelector('.url').style.display = 'none';
                document.querySelector('.link-toggle').style.display = 'block';
            });

        document.getElementById('sign-out-button').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'flex';
        });

        document.getElementById('sign-out-button1').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'flex';
        });

        document.getElementById('sign-back').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'none';
        });

        <!--Handle the toggling of the information on the page.-->
        let toggled = false;
        let toggled2 = false;
        togglebutton = document.getElementById('info-toggle');
        togglebutton2 = document.getElementById('info-toggle2');

        togglebutton.addEventListener('click',
        function(){
            if(!toggled){
                togglebutton.style.transform = "translate(-13vw, 0)";
                togglebutton2.style.transform = "translate(-13vw, 0)";

                let hidden = document.querySelectorAll('.hidden-info');
                let hiddenL = hidden.length;
                for(let i = 0; i < hiddenL; i++){
                    hidden[i].style.display = 'inline-block';
                }

                let doseInfo = document.querySelectorAll('.dose-info');
                let doseInfoL = doseInfo.length;
                for(let i = 0; i < doseInfoL; i++){
                    doseInfo[i].style.display = 'none';
                }
                toggled = true;
            }
            else{
                togglebutton.style.transform = "translate(0, 0)";
                togglebutton2.style.transform = "translate(0, 0)";

                let hidden = document.querySelectorAll('.hidden-info');
                let hiddenL = hidden.length;
                for(let i = 0; i < hiddenL; i++){
                    hidden[i].style.display = 'none';
                }

                let doseInfo = document.querySelectorAll('.dose-info');
                let doseInfoL = doseInfo.length;
                for(let i = 0; i < doseInfoL; i++){
                    doseInfo[i].style.display = 'inline-block';
                }

                toggled = false;
            }
        });

        togglebutton2.addEventListener('click',
        function(){
            if(!toggled){
                togglebutton.style.transform = "translate(-13vw, 0)";
                togglebutton2.style.transform = "translate(-13vw, 0)";

                let hidden = document.querySelectorAll('.hidden-info');
                let hiddenL = hidden.length;
                for(let i = 0; i < hiddenL; i++){
                    hidden[i].style.display = 'inline-block';
                }

                let doseInfo = document.querySelectorAll('.dose-info');
                let doseInfoL = doseInfo.length;
                for(let i = 0; i < doseInfoL; i++){
                    doseInfo[i].style.display = 'none';
                }
                toggled = true;
            }
            else{
                togglebutton.style.transform = "translate(0, 0)";
                togglebutton2.style.transform = "translate(0, 0)";

                let hidden = document.querySelectorAll('.hidden-info');
                let hiddenL = hidden.length;
                for(let i = 0; i < hiddenL; i++){
                    hidden[i].style.display = 'none';
                }

                let doseInfo = document.querySelectorAll('.dose-info');
                let doseInfoL = doseInfo.length;
                for(let i = 0; i < doseInfoL; i++){
                    doseInfo[i].style.display = 'inline-block';
                }

                toggled = false;
            }
        });

        function copyToClip(){
            let copyText = document.getElementById('link-untoggle');

            copyText.select();
            copyText.setSelectionRange(0, 999999);

            document.execCommand("copy");

            alert("Share Link Copied to Clipboard!");
        }
    </script>


</body>
</html>