<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <title>CVP | Profile</title>
</head>
<body>
<form action={{url_for('profile', token=token)}} method="POST">
    <div class="left-panel">

            <img class="img-logo" src="{{ url_for('static', filename='images/CompanyLogo.png') }}" alt="The company logo">
            <nav>
                <ul>
                    <li>
                        <img class="field-icon" src="{{ url_for('static', filename='images/login-icon-black.png') }}" alt="A small blue icon of a person">
                        <a href="#">User Name</a>
                    </li>
                    <li>
                        <img class="field-icon" src="{{ url_for('static', filename='images/share-icon.png')}}" field-icon alt="A gear icon">
                        <a href="#qr-code">Share</a>
                    </li>
                    <li>
                        <img class="field-icon" src="{{ url_for('static', filename='images/settings-icon.png')}}" field-icon alt="A share icon">
                        <button value="settings_button" name="settings_button" href="#">Settings</button>
                    </li>
                    <li>
                        <img class="field-icon" src="{{ url_for('static', filename='images/sign-out-icon.png') }}" field-icon alt="A share icon">
                        <a id="sign-out-button" href="#">Sign Out</a>
                    </li>
                </ul>
            </nav>
    </div>
    
    <div class="right-panel">
        <div>
            <div class="profile-info">
                <p class="full-name">{{profile}}</p>
                <p class="vaccine-status">Vaccination Status: Displayed Here{{ account_id }}</p>
            </div>

            <div class="profile-info">
                <div class="dose"> <!--The labels should be anchor tags or something that can link to toggling the display of the 'dose info'-->
                    <p class="dose-label">First Dose: </p>
                    <p class="dose-info">dose info here</p>
                </div>
                <div class="dose">
                    <p class="dose-label">Second Dose: </p>
                    <p class="dose-info">dose info here</p>
                </div>
            </div>
        </div>

        <div id="qr-code" class="container top-margin-big">
            <button class="inline-button smaller">QR Code</button>
            <button class="inline-button smaller">URL</button>

            <div>
                <img class="qr-img inline-item" src="{{ url_for('static', filename='QR_Code/1.png') }}" alt="a fake qrcode">
                <input class="text-field centered inline-item" type="text" id="url" name="url" placeholder="Generated URL will be displayed here">
            </div>
        </div>

        <div class="padding-div">

        </div>
    </div>

    <div class="sign-out-modal">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <p class="modal-text">You're about to sign out!</p>
            <a id="sign-back" class="modal-anchor" name="sign-out-back-profile" value="sign-out-back-profile">Back</a>
            <button class="modal-button" name="sign-out-profile" value="sign-out-profile" type="submit">Sign Out</button>
        </div>
    </div>
</form>
<script>
        document.getElementById('sign-out-button').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'flex';
        });

        document.getElementById('sign-back').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'none';
        });
</script>
</body>
</html>