<!DOCTYPE html>
<html lang="en">
<!--The head element consists of links, title and meta tags, which are used to define what the HTML page contains-->
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/home_page.css">
    <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID Vaccine Passport | Recover</title> <!--This is the title that you see displayed in the tab section-->
</head>
<body>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-logo">
                <h1 id="logo"><a href="/">CoVaPass</a></h1>
            </li>
            <div class="nav__list-item-container">
                <li class="nav__list-item">Share
                    <ul class="nav__list-item-drop">
                        <li>How it works</li>
                        <li>Tips and tricks</li>
                    </ul>
                </li>
                <li class="nav__list-item">FAQs</li>
                <li class="nav__list-item"><a href="login">Log in</a></li>

            </div>
        </ul>
    </nav>
    <div class="right-panel recover-page">
{#        <div class="padding-div"></div>#}
        <form action={{ url_for('forgot_password') }} method="POST">
            <div class="input-field top-margin-small margin-left">
                <div class="field-label">
                    <img class="field-icon" src="{{ url_for('static', filename='images/email-icon.png') }}" alt="A black icon of a mail">
                    <label class="text-label" for="email">Email:</label>
                    <b>{{ error }}</b>
                </div>
                <input class="text-field" type="text" id="email" name="email" placeholder="Enter your email here">

            </div>
            <div class="input-field margin-left">

                <button class="inline-button recover-button" type="submit" name="send_recovery_link_button" value="send_recovery_link_button">Send Recovery Link</button>

            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="inner_footer">
            <div class="footer-content">
                <h2>Covid Vaccine Passport</h2>
                <p>Web app that will bring convenience to everyone</p>
            </div>
            <div class="footer-content">
                <h2>Company</h2>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Project Protection</a></li>
                <li><a href="#">FAQs</a></li>
            </div>
            <div class="footer-content">
                <h2>About</h2>
                <li><a href="#">Team</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </div>
            <div class="footer-content">
                <h2>Help</h2>
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Network Status</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Other Services</a></li>
            </div>
            <div class="footer-content">
                <h2>Newsletter</h2>
                <form action="">
                    <input type="text" placeholder="E-mail">
                    <button class="btn">Subscribe</button>
                    <div class="socials">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <p class="copyright">All Rights Reserved &copy;
            <script>document.write(new Date().getFullYear())</script>
            CoVaPass
        </p>
    </footer>
</body>
</html>