<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <title>CVP | Change Password</title>
</head>
<body>
    <div class="left-panel">
        <img class="img-logo" src="{{ url_for('static', filename='images/CompanyLogo.png') }}" alt="The company logo">

    </div>

    <div class="right-panel">
        <div class="container top-margin-small">
            <form action={{url_for("forget_password")}} method="POST">
                <div class="input-field">
                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="email">Email:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field-short" type="text" id="email" name="email" placeholder="Email">
                </div>

                <div class="input-field">
                    <button class="inline-button smaller" type="recovery" name="send_button" value="send_button">Send email</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
    {{ error }}