<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <title>CVP | Settings</title>
</head>
<body>
<form action={{url_for('settings', token=token)}} method="POST">
    <div class="left-panel">
        <img class="img-logo" src="{{ url_for('static', filename='images/CompanyLogo.png') }}" alt="The company logo">
        <nav>
            <ul>
                <li>
                    <a href="#">Profile Settings</a>
                </li>
                <li>
                    <a href="#changepass">Change Password</a>
                </li>
                <li>
                    <img class="field-icon" src="{{ url_for('static', filename='images/sign-out-icon.png') }}" field-icon alt="A share icon">
                    <a href="#" id="sign-out-button">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="right-panel">

            <div class="container top-margin-small">

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="first_name">First Name:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="first_name" name="first_name" placeholder="First Name">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="last_name">Last Name:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="last_name" name="last_name" placeholder="Last Name">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="email">Email:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="email" name="email" placeholder="hello@cvp.org">
                </div>

                <div class="input-field">
                    <button class="inline-button smaller" name="back_button" value="back_button">Back</button>
                    <button class="inline-button smaller" name="profile_save" value="profile_save" type="submit">Save Changes</button>
                </div>
            </div>
            <div id="changepass" class="container top-margin-med">
                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="old_pass">Current Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="old_pass" name="current_password" placeholder="Current Password">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="new_pass">New Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="new_pass" name="new_password" placeholder="New Password">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="confirm_pass">Confirm New Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="confirm_pass" name="confirm_password" placeholder="New Password">
                </div>

                <div class="input-field">
                    <button class="inline-button smaller" name="back_button" value="back_button">Back</button>
                    <button class="inline-button smaller" name="password_save" value="password_save" type="submit">Save Changes</button>
                </div>

                <div class="padding-div">

                     COVID Vaccine Passport 2021.
                </div>
    </div>
    </div>
    <div class="sign-out-modal">
        <div class="modal-content">
            <div class="modal-header">

            </div>
        <p class="modal-text">You're about to sign out!</p>
        <a id="sign-back" class="modal-anchor" name="sign-out-back-settings" value="sign-out-back-settings">Back</a>
        <button class="modal-button" name="sign-out-settings" value="sign-out-settings" type="submit">Sign Out</button>
        </div>
    </div>
</form>
<script>
        document.getElementById('sign-out-button').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'flex';
        });

        document.getElementById('sign-back').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'none';
        });
</script>
</body>
</html>