<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/home_page.css">
    <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CVP | Settings</title>
</head>
<body>
    <nav class="nav fixed">
        <ul class="nav__list">
            <li class="nav__list-logo">
                <h1 id="logo"><a href="/profile_{{ token }}">CoVaPass</a></h1>
            </li>
        </ul>
    </nav>

<form action={{url_for('settings', token=token)}} method="POST">
    <div class="left-panel margin-for-nav">
        <nav class="nav-prof top-margin-med">
            <ul class="ul-prof">
                <li class="li-prof">
                    <a class="ul-li-a" href="#">Profile Settings</a>
                </li>
                <li class="li-prof">
                    <a class="ul-li-a" href="#changepass">Change Password</a>
                </li>
                <li class="li-prof">
                    <a id="sign-out-button1" class="nav-img ul-li-a" href="#">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/sign-out-icon.png') }}" field-icon alt="A share icon">
                    </a>
                    <a class="ul-li-a" id="sign-out-button" href="#">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="right-panel margin-for-nav">

            <div class="container top-margin-small">

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="first_name">Username:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="user_name" name="user_name" placeholder="Username">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="email">Email:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="email" name="email" placeholder="hello@cvp.org">
                </div>

                <div class="input-field">
                    <button class="inline-button smaller" name="back_button" value=True>Back</button>
                    <button class="inline-button smaller" name="profile_save" value=True type="submit">Save Changes</button>
                </div>
            </div>
            <div id="changepass" class="container top-margin-med">
                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="old_pass">Current Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="old_pass" name="current_password" placeholder="Current Password">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="new_pass">New Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="new_pass" name="new_password" placeholder="New Password">
                </div>

                <div class="input-field">

                    <!--This div might seem unecessary but we can include an icon right beside the label element if we wish.-->
                    <div class="field-label">
                        <label class="text-label" for="confirm_pass">Confirm New Password:</label>
                    </div>

                    <!--Finally the text field for the user to enter data into.-->
                    <input class="text-field" type="text" id="confirm_pass" name="confirm_password" placeholder="New Password">
                </div>

                <div class="input-field">
                    <button class="inline-button smaller" name="back_button" value=True>Back</button>
                    <button class="inline-button smaller" name="password_save_button" value=True type="submit">Save Changes</button>
                </div>

                <div class="padding-div">

                     COVID Vaccine Passport 2021.
                </div>
    </div>
    </div>
    <div class="sign-out-modal">
        <div class="modal-content">
            <div class="modal-header">

            </div>
        <p class="modal-text">You're about to sign out!</p>
        <a id="sign-back" class="modal-anchor" name="sign-out-back-settings" value="sign-out-back-settings">Back</a>
        <button class="modal-button" name="sign_out_button" value=True type="submit">Sign Out</button>
        </div>
    </div>
</form>
<footer class="footer">
            <div class="inner_footer">
                <div class="footer-content">
                    <h2>Covid Vaccine Passport</h2>
                    <p>Web app that will bring convenience to everyone</p>
                </div>
                <div class="footer-content">
                    <h2>Company</h2>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Project Protection</a></li>
                    <li><a href="#">FAQs</a></li>
                </div>
                <div class="footer-content">
                    <h2>About</h2>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </div>
                <div class="footer-content">
                    <h2>Help</h2>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Network Status</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Other Services</a></li>
                </div>
                <div class="footer-content">
                    <h2>Newsletter</h2>
                    <form action="">
                        <input type="text" placeholder="E-mail">
                        <button class="btn">Subscribe</button>
                        <div class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <p class="copyright">All Rights Reserved &copy;
                <script>document.write(new Date().getFullYear())</script>
                Covid Vaccine Passport
            </p>
        </footer>
<script>
        document.getElementById('sign-out-button').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'flex';
        });

        document.getElementById('sign-back').addEventListener('click',
        function(){
            document.querySelector('.sign-out-modal').style.display = 'none';
        });
</script>
</body>
</html>