
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <title>CVP | Upload Document</title>
</head>
<body>
    <div class="left-panel">
        <h1 class="page-header">Create your account</h1>
        <img class="new-account-icon" src="{{url_for('static', filename='images/create-new-account.png')}}" alt="An icon of a person with a plus symbol beside it.">
        <h2>MISC</h2>
    </div>

    <div class="right-panel">
        <form action={{url_for("register")}} method="POST" enctype="multipart/form-data">
            <div class="input-field top-margin-med">
                <p class="text-label-small critical">* {{invalid_input}}</p> <!--Testing out the error message, TODO: integrate the error messages better in the html file-->
                <div class="field-label">
                    <img class="field-icon" src="{{url_for('static', filename='images/email-icon.png')}}" alt="A black icon of a mail">
                    <label class="text-label" for="email">Email:</label>
                </div>
                <p class="field-note">Your email address will become your username</p>
                <input class="text-field" type="text" id="email" name="email" placeholder="hello@cvp.org" value={{ email }}>
            </div>

            <div class="input-field">
                <div class="field-label">
                    <img class="field-icon" src="{{url_for('static', filename='images/lock-icon.png')}}" alt="A black icon of a padlock">
                    <label class="text-label" for="password">Password:</label>
                </div>
                <input class="text-field" type="password" id="password" name="password" placeholder="Password">
            </div>

            <div class="input-field">
                <p class="text-label-small">
                    - 8 characters minimum &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  - 21 characters maximum <br>
                    - At least 1 uppercase character &emsp; &emsp; &emsp; &nbsp; - At least 1 lowercase character <br>
                    - Must contains at least 1 special character: @ $ ! % * # ? &
                </p>
            </div>

            <div class="input-field">
                <div class="field-label">
                    <img class="field-icon" src="{{url_for('static', filename='images/lock-icon.png')}}" alt="A black icon of a padlock">
                    <label class="text-label" for="confirm_password">Confirm password:</label>
                </div>
                <input class="text-field" type="password" id="confirm_password" name="confirm_password" placeholder="Password">
            </div>

            <div class="top-margin-small">
                <div class="input-field">
                    <div class="file-upload">
                        <input class="file-upload-input" type="file" id="myFile" name="vaccine_rec">
                        <button class="file-upload-button" type="button">Upload Document</button>
                        <span class="file-upload-label"></span>
                        <img class="field-icon" src="{{url_for('static', filename='images/upload-icon.png')}}" alt="Document getting uploaded to a cloud" title="Upload Document">
                    </div>
                </div>

                <div class="input-field">
                    <div class="file-upload">
                        <input class="pic-upload-input" type="file" id="myPic" name="profile_pic">
                        <button class="pic-upload-button" type="button">Upload Profile Pic</button>
                        <span class="pic-upload-label"></span>
                        <img class="field-icon" src="{{url_for('static', filename='images/upload-icon.png')}}" alt="Document getting uploaded to a cloud" title="Upload Document">
                    </div>
                </div>


                <div class="input-field">
                    <button class="inline-button" name="continue_button" value="continue_button" type="continue">Continue</button>
                </div>
            </div>

        </form>
    </div>
                <!--Handles the hidden default upload button.
                This script triggers the hidden file input instead when the
                Custom Upload button is pressed.-->
                <script>
                    Array.prototype.forEach.call(document.querySelectorAll('.file-upload-button'), function(button){
                        const hiddenInput = button.parentElement.querySelector('.file-upload-input');
                        const label = button.parentElement.querySelector('.file-upload-label');
                        const defaultLabelText = 'No File selected';

                        label.textContent = defaultLabelText;
                        label.title = defaultLabelText;
                        <!--Utilizes an event listener to call the function that triggers the default input button-->
                        button.addEventListener('click', function(){
                            hiddenInput.click();
                        });

                        hiddenInput.addEventListener('change', function(){
                            console.log(hiddenInput.files);
                            const filenameList = Array.prototype.map.call(hiddenInput.files, function(file) {
                                return file.name;
                            });

                            label.textContent = filenameList.join(', ') || defaultLabelText;
                            label.title = label.textContent;
                        });
                    });

                    Array.prototype.forEach.call(document.querySelectorAll('.pic-upload-button'), function(button){
                        const hiddenPicInput = button.parentElement.querySelector('.pic-upload-input');
                        const picLabel = button.parentElement.querySelector('.pic-upload-label');
                        const defaultPicLabelText = 'No File selected';

                        picLabel.textContent = defaultPicLabelText;
                        picLabel.title = defaultPicLabelText;
                        <!--Utilizes an event listener to call the function that triggers the default input button-->
                        button.addEventListener('click', function(){
                            hiddenPicInput.click();
                        });

                        hiddenPicInput.addEventListener('change', function(){
                            console.log(hiddenPicInput.files);
                            const filenameList = Array.prototype.map.call(hiddenPicInput.files, function(pic) {
                                return pic.name;
                            });

                            picLabel.textContent = filenameList.join(', ') || defaultPicLabelText;
                            picLabel.title = picLabel.textContent;
                        });
                    });
                </script>
</body>
</html>