<!DOCTYPE html> <!--This indicates that this is an HTML file-->
<html lang="en">

<!--The head element consists of links, title and meta tags, which are used to define what the HTML page contains-->
<head>
    <link rel="stylesheet" href="static/stylesheet.css"> <!--Links to the external stylesheet so that the page uses the CSS from it-->
    <meta charset="UTF-8">
    <title>COVID Vaccine Passport | Home</title> <!--This is the title that you see displayed in the tab section-->
</head>

<!--the 'body' element contains all other elements that is displayed on the browser window-->
<body>
    <!--You will notice that there are several 'div' elements in the body.
    <div> </div> can be thought of as a container for other elements. Elements are displayed on the browser based on the order they
    are written in the HTML file. Using the div element as a container for several elements, we can treat each div section as a single element, thus
    allowing us to position the entire group as one. Multiple layers of div can also be used as you will see in the other landing pages in this root folder.-->

    <!--The following div has a class attribute called "left-panel". Think of it as a way to identify different divs
        but there is another attribute called 'id' which is similar but provides more unique functionalities compared to 'class'
        More importantly, 'class' allows us to target specific div elements with CSS. -->
    <div class="left-panel">
        <h1>Company Name</h1>
        <!--Here the {{}} are Flask injections that allow the Flask app to load the image into the HTML document.-->
        <img class="img-logo" src="{{url_for('static', filename='images/CompanyLogoNamed.png')}}" alt="An Awesome Company Logo with a name at the bottom.">
        <h2>MISC</h2>
    </div>

    <!--This is an example of a simple nested div-->
    <div class="right-panel">
        <div class="vert-crop">
            <img class="img-banner" src="{{url_for('static', filename='images/healthcare.jpg')}}" alt="A healthcare associate in a scrub suit.">
        </div>
        <h2 class="motto">Company Motto</h2>
        <p class="description">COVID-19 Vaccine Passport allows you to register you vaccination status into a cloud where you can access and share to others.</p>
        <form action={{url_for("homepage")}} method ="POST">
            <!-- The form here has an action that calls the homepage method in app.py
             Apparently, the 'name' of the button gets passed into the logic of the homepage method

             AMBIGUITY: Apparently, the 'name' of the button gets passed into the logic of the homepage method,
             I tried using just the 'value' and the logic doesn't seem to work, so I think the if-else blocks
             in the homepage method uses the 'name' of the button that was pressed.-->
            <button class="home-button" name="login_button" value="login_button">Log In</button>
            <button class="home-button" name="register_button" value="register_button">Register</button>
        </form>
    </div>
</body>
</html>