*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'arial';
}
h1{
    font-size: 2rem;
}

.nav{
    position: sticky;
    top: 0;
    height: 7.5vh;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px black;
    z-index: 999;
}

.fixed{
    position: fixed;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
 }
.nav__list-logo{
    list-style: none;
    margin-right: auto;
    cursor: pointer;
}
#logo{
    font-family: 'Pattaya', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    width: 2.5rem;
}
.logo-wrapper{
    padding: 2vw 2vw;
    box-shadow: 0 0 1px gray;
}

#logo a{
    color: black;
}
#logo a:hover{
    color: aqua;
}
.nav__list-item-container{
    display: flex;
}
.nav__list-item{
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 3rem;
    cursor: pointer;
}
.nav__list-item a{
    color: black;
    text-decoration: none;
}
.nav__list-item::after{
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 3rem;
    bottom: 0.8rem;
    background-color: aqua;
    transition: width 200ms ease-in;
}
.nav__list-item:hover::after{
    width: 45%;
}
.nav__list-item:hover ul{
    opacity: 1;
    visibility: visible;
}
.nav__list-item-drop{
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    border-radius: 0.2rem;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}
.nav__list-item-drop li{
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
}
.nav__list-item-drop li:hover{
    background-color: #fbf7de;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(./images/vaccine.jpg);
    min-height: 92.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero h1{
    color: white;
    margin: 10rem 55rem 10rem 0.3rem;
    padding-right: 2rem;
    position: relative;
    display: flex;
    float: left;
    font-family: 'Play', sans-serif;
    font-size: 7rem;
}

.gallery-container{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.benefits{
    text-align: left;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
}
.benefits h1{
    font-size: 5rem;
}
.row{
    margin-left: 2%;
    margin-right: auto;
}
.col{
    display: flex;
    width: 100%;
    text-align: center;
}
.left-gallery{
    margin-right: 4rem;
    width: 50vw;
}
.passport-img{
    background: url("./images/passport.jfif");
    min-height: 50.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.passport-description{
    text-align: left;
    margin-top: 2rem;
}
.passport-description h1{
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 0;
}
.passport-description p{
    margin-top: 1rem;
    font-family: 'arial';
    font-size: 1.5rem;
    opacity: 0.8;
}
.share-fun-img{
    background: url("./images/share_fun.jpg");
    min-height: 60.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.share-fun-description{
    text-align: left;
    margin-top: 3rem;
}
.share-fun-description p{
    font-family: 'arial';
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 6rem;
}
.right-gallery{
    text-align: left;
    width: 50vw;
}
.scan-qr-description{
    margin-bottom: 4rem;
}
.scan-qr-description h1{
    margin-bottom: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.scan-qr-description p{
    font-family: 'arial';
    font-size: 1.5rem;
    opacity: 0.8;
}
.learn_more-button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.learn_more-button:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
}
.learn_more-button span{
    position: absolute;
    display: block;
}
.learn_more-button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.learn_more-button:hover span:nth-child(1){
    left: 100%;
    transition: 0.5s;
}
.learn_more-button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.learn_more-button:hover span:nth-child(3){
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.learn_more-button span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.learn_more-button:hover span:nth-child(2){
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.125s;
}
.learn_more-button span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.learn_more-button:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.375s;
}
.scan-qr-img{
    background: url("./images/scan_qr.jpg");
    min-height: 60.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.footer {
    display: grid;
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: #fbf7de;
    z-index: 999;
}
.start-left{
    left: -18%;
}
.wider{
    width: 118%;
}

.block{
    display: block;
    position: unset;
}

.inner_footer {
    padding-top: 0.5rem;
    margin: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.footer-content {
    width: 75%;
}

.footer-content h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-content p{
    opacity: 0.6;
}
.footer-content a{
    color: black;
    text-decoration: none;
    opacity: 0.6;
}
.footer-content a.hover{
    color: aqua;
    opacity: 1;
}
.footer-content li{
    list-style: none;
    margin-bottom: 5px;
}
.footer-content input[type=text]{
    padding: 8px 10px;
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
}
.footer-content .btn{
    padding: 9px 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.footer-content .socials{
    margin-top: 30px;
}
.footer-content .socials li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
.footer-content a:hover{
    color:aqua;
    opacity: 1;
}
.footer hr{
    opacity: 0.6;
}
.footer .copyright{
    padding: 0.4rem;
    text-align: center;
}

@media screen and (max-width: 1060px){
    .nav{
        height: 6vh;
        box-shadow: 0 0 5px black;
    }
    .nav__list{
        margin: auto 2rem;
    }
    .nav__list-item{
        padding: 1.5rem 1.7rem;
    }
    .nav__list-item::after{
        left: 1.7rem;
    }
    .hero h1{
        padding: 0 3rem;
        font-size: 6rem;
    }
    .row{
        width: 100%;
    }
    .col{
        display: block;
    }
    .left-gallery{
        margin-right: 0;
        width: 100%;
    }
    .passport-img{
        display: block;
    }
    .passport-description h1{
        margin: 0;
    }
    .share-fun-img{
        margin-top: 5rem;
    }
    .share-fun-description{
        margin-top: 1.5rem;
    }
    .share-fun-description p{
        margin-bottom: 4rem;
    }
    .right-gallery{
        text-align: left;
        width: 100%;
        padding-bottom: 50px;
    }
    .scan-qr-description{
        margin-bottom: 2rem;
    }
    .scan-qr-description h1{
        margin-bottom: 1.5rem;
    }
    .learn_more-button{
        padding: 10px 30px;
    }
    .scan-qr-img{
        margin-top: 2rem;
    }

    .footer{
        height: 20vh;
    }
    .footer-content:nth-child(1){
        display: none;
    }
    .inner_footer{
        grid-template-columns: repeat(4, 1fr);
        margin: auto 2rem;
    }
    .footer-content .btn{
        display: block;
        margin-top: 10px;
    }
    .footer-content .socials{
        margin-top: 20px;
    }
    .footer-content .socials li{
        margin-right: 7px;
    }
    .footer .copyright{
        padding: 0rem;
    }
}
@media screen and (max-width: 450px){
    .nav{
        width: 100vw;
        padding: .5rem;
        height: 15vh;
        box-shadow: 0 0 5px black;
    }
    .nav__list{
        display: block;
        margin: 0rem;
    }
    .nav__list-logo{
        text-align: center;
    }
    #logo{
        width: auto;
    }
    .nav__list-item-container{
        margin-left: 2rem;
    }
    .nav__list-item{
        padding: 1rem 1rem;
    }
    .nav__list-item::after{
        left: 1.1rem;
        bottom: 0.5rem;
    }
    .nav__list-item:hover::after{
        width: 60%;
    }
    .hero{
        min-height: 85vh;
        width: 100vw;
        background-position: 65% 0%;
    }
    .hero h1{
        text-align: center;
        margin: 4rem auto;
        font-size: 3rem;
    }
    .benefits h1{
        font-size: 3rem;
    }
    .passport-img{
        background-position: 60% 0%;
    }
    .share-fun-img{
        background-position: 30% 0%;
    }
    .scan-qr-description p{
        font-size: 1rem;
    }
    .footer {
        display: block;
        height: auto;
        width: 100vw;
        background-color: #fbf7de;
        z-index: 999;
    }
    .inner_footer {
        margin: 1.5rem 2rem;
        display: block;
    }
    .footer-content {
        width: auto;
    }
    .footer-content h2 {
        text-transform: uppercase;
        margin-bottom: 7px;
        margin-top: 20px;
    }
}