*{ /* This resets the margin and padding of everything, 
    allowing me to design for any browser that may have 
    default values for margin and padding.
    
    --------
    
    There's a way for me to completely reset every single css for any browser
    but I'm sticking with this one for now.*/
    margin: 0; /* margin is the space around the element*/
    padding: 0; /* while padding is the space around the data inside the element*/
}


/* Then I apply my CSS from here*/

body{
    /* Sets the background color of the entire page to a light gray*/
    background-color: #ffffff;
}

/* .class allows me to target CSS to a specific class that can be used in any html element*/

.container {
    margin: 10px;
    padding: 0;
}

.top-margin-big{
    margin-top: 40%;
}
.top-margin-med{
    margin-top: 30%;
}
.top-margin-small{
    margin-top: 10%;
}

.inline-item {
    display: inline-block;
}

/* Left side of the Home Page*/
.left-panel{
    position: fixed;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 25%;
    height: 900px;
}

/* Affects all the h1 elements declared inside any element that uses this class.
Not ideal but shows a way to apply CSS in a broad manner*/
.left-panel h1{
    margin-top: 50px;
    text-align: center;
    color:#3d3d3d;
}

/* Similar idea as the one above but affects images instead*/
.img-logo{
    display: block;
    transform: scale(0.5);
    margin: 0;
    padding: 0;
}

.qr-img {
    margin: 10% auto 20px 25%;
}

/* Same idea but affects the h2 elements*/
.left-panel h2{
    text-align: center;
    color: #3d3d3d;
    padding-top: 350px;
}

/* Right side of the Home Page. */
.right-panel{
    display: inline-block;
    vertical-align: top;
    margin-left: 25%;
    /* background-color: #ffffff; */
    width: 74.5%;
    height: 900px;
}

.right-panel-close{
    display: inline-block;
    vertical-align: top;
    /* background-color: #ffffff; */
    width: 74.5%;
    height: 900px;
}

.motto{
    display: block;
    text-align: left;
    color:#3d3d3d;
    position: absolute;
    top: 20px;
    left: 30%;
}

.message {
    color:3d3d3d;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 150px 10px 60px;
}

/* This sets the width of the image to the entire width of the screen
NOTE-TO-SELF: Try refactoring this to using background-image instead*/
.img-banner{
    width: 100%;
}

/* This crops any image that uses this class to 25% of its current container's height*/
.vert-crop{
    max-height: 25%;
    overflow: hidden;
}

.description{
    text-align: center;
    color:#3d3d3d;
    padding: 50px;
}

.home-button{
    display: block;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 125px;
    width: 500px;
    font-size: 42px;
    text-align: center;
    border-radius: 70px;
    /*border-color:#0D0065;*/
    border-width: 0;
    padding: 37px 150px 37px 150px; /* pixels derived from adobe xd values. */
    margin: 35px auto;
    cursor: pointer;
}

/* This adds an effect when you hover on the buttons*/
.right-panel button:hover {
    opacity: 90%;
}

/* A simple animation that makes the button mimic getting pressed when you click it*/
.right-panel button:active {
    transform: scale(0.98);
    background-color: #78caec;
    color:rgb(46, 46, 46);
}

.new-account-icon{
    margin: 50px 50px 20px 75px;
    height: 300px;
}

.field-icon{
    display: inline-block;
    vertical-align:middle;
    margin: 0;
    padding-left: 20px;
    height: 50px;
}

.text-label{
    display: inline-block;
    vertical-align:middle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #5e5e5e;
    text-align: left;
}

.field-label{
    display: block;
    margin: 10px auto 10px 0;
}

.field-note {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #5e5e5e;
}

.centered{
    margin: 10% auto 10% 15%;
}

.text-field{
    display: block;
    width: 600px;
    height: 35px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short{
    display: block;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.input-field {
    margin: 30px 80px 30px 10%;
    padding: 0 auto;
}

.fields-column {
    display: inline-block;
    vertical-align: top;
}



.inline-button {
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 80px;
    width: 500px;
    font-size: 36px;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    padding: auto;
    margin: 0 auto 10px 50px;
    outline: none;
    cursor: pointer;
}

.smaller {
    border-radius: 70px;
    width: 300px;
}

.inline-button:hover {
    opacity: 90%;
}

.inline-button:active {
    transform: scale(0.98);
    background-color: #78caec;
    color:rgb(46, 46, 46);
}

.recover-button:active{
    background-color: #10CC0A;
    color: white;
}

.resend {
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 80px;
    width: 500px;
    font-size: 36px;
    text-align: center;
    border-radius: 20px;
    border-color:#0D0065;
    padding: auto;
    margin: 0 auto 10px 60px;
    cursor: pointer;
}

.resend:focus {
    background-color:#10CC0A;
}

.warning-message {
    color: red;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 150px 10px 60px;
}

.forgot-password {
    color:#0A92CC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 250px;
    background-color: rgba(0,0,0,0);
    border-width: 0;
    outline: none;
    cursor: pointer;
}

.page-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}

.padding-div {
    margin: 25%;
}

.sign-out-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 30px;
}

.modal-header{
    width: 700px;
    height: 50px;
    background-color: #0A92CC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-text{
    color: #1f1f1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 15px;
}

.modal-anchor{
    display: inline-block;
    vertical-align: top;
    background-color: #0A92CC;
    color:white;
    height: 65px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: center;
    border-radius: 40px;
    margin: 20px 60px 20px 60px;
    outline: none;
    cursor: pointer;
}

.modal-button{
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC; rgba(10, 146, 204, 0);
    color:white;
    height: 65px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    /*text-align: center;*/
    border-radius: 40px;
    border-width: 0;
    margin: 20px auto 20px 100px;
    outline: none;
    cursor: pointer;
}

.modal-button:active{
    opacity: 80%;
}

/* Classes for the navigation bar in the Profile page */

nav{
    background-color: #ffffff;
    width: 100%;
    margin:0;
    padding:0;
}

ul{
    margin: 0;
}

ul li{
    list-style: none;
    text-align: left;
    margin: 2px 0 2px 0px;
    padding: 15px;
}

ul li button{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #0D0065;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding:20px 20px 20px 20px;
    border-width: 0;
    background-color: rgba(0,0,0,0);
    outline: none;
}
ul li button:hover{
    opacity: 80%;
    cursor: pointer;
}

ul li a{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #0D0065;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding:20px 20px 20px 20px;
}

ul li a:hover{
    opacity: 80%;
}

ul li a :focus{
    font-size: 35px;
}

.profile-info{
    padding: 20px;
}

.full-name{
    text-align: center;
    margin: 25% auto 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.vaccine-status{
    text-align: center;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.dose {
    text-align: center;
}

.dose-label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-decoration: underline;
}

.dose-label:hover{
    cursor: pointer;
}

.dose-info{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}


.file-upload{
    display: inline-flex;
    align-items: center;
    font-size: 36px;
    height: 80px;
    width: 800px;
}

.file-upload-input{
    display: none;
}

.file-upload-button{
    -webkit-appearance: none;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 80px;
    width: 700px;
    font-size: 1em;
    padding: 0.5em 0.8em;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    outline: none;
    margin: 0 20px 10px 50px;
    cursor: pointer;
}

.nav-anchor{
    position: fixed;
}