*{ /* This resets the margin and padding of everything,
    allowing me to design for any browser that may have
    default values for margin and padding.

    --------

    There's a way for me to completely reset every single css for any browser
    but I'm sticking with this one for now.*/
    margin: 0; /* margin is the space around the element*/
    padding: 0; /* while padding is the space around the data inside the element*/

    /*-webkit-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
    /*-o-transition: all 0.5s;*/
    /*transition: all 0.5s;*/
}

/* Then I apply my CSS from here*/

body{
    /* Sets the background color of the entire page to a light gray*/
    background-color: #ffffff;
}

/* .class allows me to target CSS to a specific class that can be used in any html element*/

.container {
    margin: 10px;
    padding: 0;
}

.inline-item {
    display: inline-block;
}

.header1{
    font-size: 2.5vw;
}

.block-item{
    background-color: rgba(10, 146, 204, 0.08);
    display: block;
    padding: 2.5%;
    margin: 5% 15%;
    border-radius: 20px;
}

/* Left side of the Home Page*/
.left-panel{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    float: left;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 30%;
    height: 100vh;
    z-index: 899;
}

.narrow-left{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: fixed;
    float: left;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 15%;
    height: 100vh;
    z-index: 899;
}

/* Affects all the h1 elements declared inside any element that uses this class.
Not ideal but shows a way to apply CSS in a broad manner*/
.left-panel h1{
    margin-top: 50px;
    text-align: center;
    color:#3d3d3d;
}

/* Similar idea as the one above but affects images instead*/
.img-logo{
    width: 70%;
    display: block;
    transform: scale(0.5);
    margin: 0;
    padding: 0;
    align-items: center;
}

.qr-img {
    display: block;
    width: 50%;
    margin-left: 25%;
}

/* Same idea but affects the h2 elements*/
.left-panel h2{
    text-align: center;
    color: #3d3d3d;
    padding-top: 350px;
}

.margin-for-nav{
    margin-top: 7.5vh;
}


/* Right side of the Home Page. */
.right-panel{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    vertical-align: top;
    background-color: #fafafa;
    width: 70%;
    height: 100vh;
    z-index: 9999;
}

.wide-right{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    vertical-align: top;
    background-color: #fafafa;
    width: 85%;
    margin-left: 15%;
    height: 100vh;
    z-index: 9999;
}

.right-panel-close{
    display: inline-block;
    vertical-align: top;
    /* background-color: #ffffff; */
    width: 74.5%;
    height: 900px;
}

.motto{
    display: block;
    text-align: left;
    color:#3d3d3d;
    position: absolute;
    font-size: 2vw;
    top: 10%;
    left: 30%;
}

.message {
    color: #3d3d3d;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 150px 10px 60px;
}

/* This sets the width of the image to the entire width of the screen
NOTE-TO-SELF: Try refactoring this to using background-image instead*/
.img-banner{
    width: 100%;
}

/* This crops any image that uses this class to 25% of its current container's height*/
.vert-crop{
    max-height: 25%;
    overflow: hidden;
}

.description{
    text-align: center;
    color:#3d3d3d;
    padding: 50px;
}

.home-button{
    display: block;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 40%;
    width: 22.5vw;
    font-size: 1.6vw;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    padding: 1.2% 2%; /* pixels derived from adobe xd values. */
    margin: 1% 3%;
    outline: none;
    cursor: pointer;
}

/* This adds an effect when you hover on the buttons*/
.home-button:hover {
    opacity: 90%;
}

/* A simple animation that makes the button mimic getting pressed when you click it*/
.home-button:active {
    transform: scale(0.98);
    opacity: 90%;
}

.new-account-icon{
    margin-top: 10%;
    width: 100%;
}

.field-icon{
    display: inline-block;
    vertical-align:middle;
    margin: 2% 0;
    width: 10%;
}

.text-label{
    display: inline-block;
    vertical-align:middle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    color: #5e5e5e;
    text-align: left;
}

.text-label-small{
    display: inline-block;
    vertical-align:middle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1vw;
    color: #5e5e5e;
    text-align: left;
}

.critical{
    color: red;
}

.field-label{
    /*background-color: #10CC0A;*/
    width: 25vw;
    display: block;
    margin: 0.5% 1%;
}

.field-note {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    color: #5e5e5e;
}

.centered{
    margin: 10% auto 10% 15%;
}

.url{
    display: none;
    font-size: 1.5vw;
    padding: 5%;
    text-align: center;
    color: #0D0065;
    text-decoration: underline;
}
.url:hover{
    opacity: 80%;
    cursor: pointer;
}

.first-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.first-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.mi-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.mi-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.last-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.last-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.dob-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.dob-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.pnum-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.pnum-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.clinic-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.clinic-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.fdose-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.fdose-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.fdate-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.fdate-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.sdose-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.sdose-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.sdate-text{
    display: inline-block;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5e5e5e;
}

.sdate-edit{
    margin-left: 5%;
    width: 10%;
    display: inline-block;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001cb8;
}

.text-field{
    display: block;
    width: 35vw;
    height: 30%;
    border-radius: 5px;
    font-size: 1.5vw;
    padding: 1%;
    text-align: left;
    color:#333333;
}

.text-field-short{
    display: block;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-first{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-mi{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-last{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-dob{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-pnum{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-clinic{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-fdose{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-fdate{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-sdose{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.text-field-short-sdate{
    display: none;
    width: 25vw;
    height: 30%;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    text-align: left;
    color:#333333;
}

.input-field {
    /*background-color: #10CC0A;*/
    width: 74%;
    margin: 0.5% 10%;
    padding: 0;
}

.fields-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

.confirm-button{
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 45%;
    width: 26vw;
    font-size: 2vw;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    padding: 1.5% 4%; /* pixels derived from adobe xd values. */
    margin: 1% 0 1% 30%;
    outline: none;
    cursor: pointer;
}

.confirm-button:hover{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transform: scale(1.025);
    opacity: 90%;
}

.confirm-button:active{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transform: scale(0.9);
}

.change-pass{
    font-size: 1.6vw;
    font-style: italic;
    text-align: center;
    color: #0D0065;
}

.change-pass:hover{
    font-size: 1.625vw;
    opacity: 90%;
}

.inline-button {
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 40%;
    width: 22.5vw;
    font-size: 1.6vw;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    padding: 1.2% 2%; /* pixels derived from adobe xd values. */
    margin: 1% 3%;
    outline: none;
    cursor: pointer;
}

.smaller {
    border-radius: 20px;
    width: 30%;
}

.inline-button:hover {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: scale(1.025);
    opacity: 90%;
}

.inline-button:active {
    transform: scale(0.98);
}

.recover-button:active{
    background-color: #10CC0A;
    color: white;
}

.resend {
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 80px;
    width: 500px;
    font-size: 36px;
    text-align: center;
    border-radius: 20px;
    border-color:#0D0065;
    padding: 0;
    margin: 0 auto 10px 60px;
    cursor: pointer;
}

.resend:focus {
    background-color:#10CC0A;
}

.warning-message {
    color: red;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    margin: 10px 150px 10px 60px;
}

.forgot-password {
    display: inline-block;
    vertical-align: middle;
    color:#0A92CC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    margin-left: 20%;
    background-color: rgba(0,0,0,0);
    border-width: 0;
    outline: none;
    cursor: pointer;
}

.page-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin: 2%;
}

.padding-div {
    text-align: center;
    margin: 20%;
}

.sign-out-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

.change-pass-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

.modal-content{
    width: 55%;
    height: 25%;
    background-color: white;
    border-radius: 30px;
}

.larger{
    width: 75%;
    height: 60%;
}

.modal-header{
    width: 100%;
    height: 20%;
    background-color: #0A92CC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-text{
    color: #1f1f1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 1%;
}

.modal-anchor{
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC;
    color:white;
    height: 20%;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 40px;
    margin: 5%;
    outline: none;
    cursor: pointer;
}

.modal-button{
    display: inline-block;
    vertical-align: middle;
    background-color: #0A92CC; rgba(10, 146, 204, 0);
    color:white;
    height: 20%;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 40px;
    border-width: 0;
    margin: 5%;
    outline: none;
    cursor: pointer;
}

.modal-button:active{
    opacity: 80%;
}

/* Classes for the navigation bar in the Profile page */

.logo{
    border-width: 0;
    background-color: rgba(0,0,0,0);
    margin: 20%;
}
.logo:hover{
    cursor: pointer;
}

.nav-icon{
    width: 1.5vw;
}

.nav-prof{
    background-color: #fefefe;
    width: 100%;
    padding:0;
}

.ul-prof{
    margin: 0;
    overflow: hidden;
}

.li-prof{
    list-style: none;
    text-align: left;
    margin-left: 10%;
    overflow: hidden;
    /*background-color: #0A92CC;*/
}

.li-prof:hover{
    background-color: rgba(10, 146, 204, 0.2);
    cursor: pointer;
}

.ul-li-button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: left;
    color: #0D0065;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    width: 75%;
    margin-left: 10%;
    padding: 5% 0;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.ulbtn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: left;
    color: #0D0065;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    width: 10%;
    padding: 5% 5%;
    border-width: 0;
    background-color: rgba(0,0,0,0);
    outline: none;
}

.ul-li-button:hover{
    opacity: 80%;
    cursor: pointer;
}

.ul-li-a{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #0D0065;
    width: 70%;
    /*background-color: #0A92CC;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 5% 0;
    white-space: nowrap;
    /*float: left;*/
}

ul li a:hover{
    opacity: 80%;
}

.menu{
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}
.menu-img{
    margin: 2vh 1vw;
    width: 2vw;
}

.nav-img{
    margin-left: 5%;
    margin-right: 5%;
    width: 5%;
}

.margin-left{
    margin-left: 85%;
}

.profile-info{
    position: relative;
    /*background-color: #10CC0A;*/
}

.section-label2{
    display: block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    color: #045b77;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 3vw;
    font-weight: bold;
    background-color: #f3f3f3;
}

.section-label3{
    display: block;
    vertical-align: top;
    text-decoration: none;
    color: #044a60;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center ;
}

.colored-section{
    background-color: #ffffff;
    height: 35%;
    margin-top: 5%;
    padding-top: 5%;
}

.full-name{
    text-align: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

.vaccine-status{
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    background-color: #bbfac4;
}

.dose {
    position: relative;
    /*text-align: center;*/
    margin: 3%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    /*background-color: #d0f7ff;*/
}

.dose-label {
    position: absolute;
    top: 0;
    left: 25%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    color: #001780;
    text-decoration: underline;
}

.dose-label:hover{
    cursor: pointer;
    opacity: 80%;
}

.second-label{
    position: absolute;
    top: 45%;
    left: 25%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    color: #001780;
    text-decoration: underline;
}

.second-label:hover{
    cursor: pointer;
    opacity: 80%;
}


.dose-info{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 65%;
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    font-style: italic;
    opacity: 60%;
}

.dose-info2{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: 8%;
    margin-left: 65%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    font-style: italic;
    opacity: 60%;
}

.hidden-info{
    vertical-align: middle;
    text-align: center;
    margin-right: 5%;
    margin-top: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.hidden-info2{
    vertical-align: middle;
    text-align: center;
    margin-right: 10%;
    margin-top: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.hidden-info3{
    vertical-align: middle;
    text-align: center;
    margin-top: 7vh;
    margin-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.hidden-info4{
    vertical-align: middle;
    text-align: center;
    margin-top: 7vh;
    margin-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.link-toggle{
    display: block;
    text-align: center;
    margin: 2% 35%;
    margin-bottom: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    background-color: #0A92CC;
    border-width: 0;
    color: #ffffff;
    padding: 2%;
    border-radius: 20px;
}

.link-toggle:hover{
    opacity: 90%;
    cursor: pointer;
}

.file-upload{
    display: inline-flex;
    align-items: center;
    font-size: 2vw;
    height: 45%;
    width: 35vw;
}

.file-upload-input{
    display: none;
}

.file-upload-button{
    -webkit-appearance: none;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 45%;
    width: 25vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    outline: none;
    margin: 1% 5%;
    cursor: pointer;
}

.file-upload-button:hover{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: scale(1.025);
}

.file-upload-button:active{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: scale(0.95);
}

.file-upload-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.pic-upload-input{
    display: none;
}

.pic-upload-button{
    -webkit-appearance: none;
    background-color: #0A92CC;
    color:white;
    text-shadow: #1f1f1f;
    height: 45%;
    width: 25vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    text-align: center;
    border-radius: 20px;
    /*border-color:#0D0065;*/
    border-width: 0;
    outline: none;
    margin: 1% 5%;
    cursor: pointer;
}

.pic-upload-button:hover{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: scale(1.025);
}

.pic-upload-button:active{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: scale(0.95);
}

.pic-upload-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.profile-pic{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 25%;
    height: 4vw;
    width: 4vw;
    object-fit: cover;
    border-radius: 100px;
}

.nav-anchor{
    height: 100%;
    width: 100%;
    margin-left: 5%;
}


.footer {
    display: grid;
    position: relative;
    height: 30vh;
    width: 100vw;
    margin: auto;
    background-color: #fbf7de;
    z-index: 999;
}

.inner_footer {
    padding-top: 1rem;
    margin: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.footer-content {
    width: 75%;
}

.footer-content h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-content p{
    opacity: 0.6;
}
.footer-content a{
    color: black;
    text-decoration: none;
    opacity: 0.6;
}
.footer-content a.hover{
    color: aqua;
    opacity: 1;
}
.footer-content li{
    list-style: none;
    margin-bottom: 5px;
}
.footer-content input[type=text]{
    padding: 8px 10px;
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
}
.footer-content .btn{
    padding: 9px 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.footer-content .socials{
    margin-top: 30px;
}
.footer-content .socials li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
.footer-content a:hover{
    color:aqua;
    opacity: 1;
}
.footer hr{
    opacity: 0.6;
}
.footer .copyright{
    padding: 0.4rem;
    text-align: center;
}

.top-margin-big{
    margin-top: 40%;
}
.top-margin-med{
    margin-top: 10%;
}
.top-margin-small{
    margin-top: 3%;
}

.bot-margin-med{
    margin-bottom: 30%;
}

@media screen and (max-width: 1060px) {


    .ul-li-a{
        font-size: 2vw;
        margin: 0;
        padding: 5% 0;
    }
    .ul-li-button{
        font-size: 2vw;
        padding: 5% 0;
    }

    .new-account-icon{
        margin-top: 10%;
        width: 70%;
    }

    .page-header {
        font-size: 3vw;
    }

    .top-margin-med{
        margin-top: 5%;
    }

    .section-label2{
        margin-top: 5vh;
        margin-bottom: 5%;
        font-size: 4vw;
        font-weight: bold;
        background-color: #f3f3f3;
    }

    .colored-section{
        background-color: #ffffff;
        height: 25%;
        margin-top: 5%;
        padding-top: 5%;
    }

    .input-field {
        width: 90%;
        margin-top: 4vh;
    }

    .field-label {
        margin-right: 5%;
        width: 25vw;
    }

    .text-label{
        font-size: 3vw;
    }
    .field-icon{
        margin: 2% 0;
        width: 15%;
    }
    .text-field{
        width: 40vw;
        border-radius: 5px;
        font-size: 2.5vw;
        padding: 1.5%;
    }

    .forgot-password{
        font-size: 2vw;
        margin-left: 2%;
    }
    .inline-button {
        width: 30vw;
        font-size: 3vw;
        text-align: center;
        border-radius: 20px;
        /*border-color:#0D0065;*/
        border-width: 0;
        padding: 1.2% 2%; /* pixels derived from adobe xd values. */
        margin: 1% 3%;
        outline: none;
        cursor: pointer;
    }
    .file-upload{
        display: inline-flex;
        align-items: center;
        font-size: 2.5vw;
        height: 60;
        width: 45vw;
    }

    .file-upload-label{
        font-size: 2.2vw;
    }

    .file-upload-button{
        width: 30vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        padding: 0.5em 0.5em;
    }

    .pic-upload-label{
        font-size: 2.2vw;
    }
    .pic-upload-button{
        width: 30vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        padding: 0.5em 0.5em;
    }

    .home-button{
        height: 40%;
        width: 30vw;
        font-size: 2.5vw;
        text-align: center;
        border-radius: 20px;
        border-width: 0;
        padding: 2% 2%; /* pixels derived from adobe xd values. */
        margin: 1% 3%;
        }

    .full-name{
        margin: 2%;
        font-size: 5vw;
        font-weight: bold;
    }
    .vaccine-status{
        margin-bottom: 10%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3vw;
        font-style: italic;
    }

    .dose-label {
        font-size: 3.5vw;
    }
    .dose-info{
        font-size: 2vw;
    }

    .second-label {
        font-size: 3.5vw;
    }
    .dose-info2{
        margin-top: 10%;
        font-size: 2vw;
    }
}

@media screen and (max-width: 450px) {

    .nav{
        width: 100%;
    }

    .fixed{
        height: 6vh;
    }

    .margin-for-nav{
        margin-top: 7.5vh;
    }

    .left-panel{
        display: block;
        height: 10vh;
        width: 100%;
        overflow: hidden;
    }

    .right-panel{
        width: 100%;
    }

    .left-panel h1{
        margin-top: 5%;
    }
    .page-header {
        margin-top: 1%;
        font-size: 7vw;
    }

    .input-field {
        width: 100%;
        margin-top: 2vh;
    }

    .field-label {
        margin-right: 5%;
        width: 55vw;
    }

    .text-label{
        font-size: 8vw;
    }
    .field-icon{
        display: none;
    }
    .field-note{
        font-size: 5vw;
    }

    .text-field{
        width: 70vw;
        border-radius: 5px;
        font-size: 5vw;
        padding: 2%;
    }

    .forgot-password{
        font-size: 4vw;
        margin: 3%;
    }
    .inline-button {
        width: 30vw;
        font-size: 3vw;
        text-align: center;
        border-radius: 20px;
        /*border-color:#0D0065;*/
        border-width: 0;
        padding: 1.2% 2%; /* pixels derived from adobe xd values. */
        margin: 1% 3%;
        outline: none;
        cursor: pointer;
    }
    .file-upload{
        display: inline-flex;
        align-items: center;
        font-size: 4.5vw;
        width: 100vw;
    }

    .file-upload-label{
        font-size: 5vw;
    }

    .file-upload-button{
        width: 30vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        padding: 0.5em 0.5em;
    }

    .pic-upload-label{
        font-size: 5vw;
    }

    .pic-upload-button{
        width: 30vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        padding: 0.5em 0.5em;
    }

    .home-button{
        height: 40%;
        width: 30vw;
        font-size: 4vw;
        text-align: center;
        border-radius: 20px;
        border-width: 0;
        padding: 2% 2%; /* pixels derived from adobe xd values. */
        margin: 1% 3%;
        }
}